.property-container{
    width:400px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 24px;
}

.property-image img{
    width:400px;
    height:260px;
    border-radius: 24px 24px 0 0;
}

.property-price{
    background: #3A5295;
    height: 80px;
    display: flex;
    align-items: center;
}

.property-description{
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description{
    display: flex;
    justify-content: space-around;
}

.address{
    display: flex;
    margin: 18.25px 0 0 16px;
}

.property-view{
    height: 48px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}