.name-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.city-card-overlay{
    background: radial-gradient(circle, rgba(0,0,0,0.5034802784222738) 0%, rgba(0,0,0,0.49651972157772617) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 24px;
}
