.banner-container{
    background: url('../assets/cover-img.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-container h1{
    color: var(--text-white);
    font-size: 56px;
    font-weight: 400;
    width:70%;
    text-align: center;
    margin-bottom: 32px;
    z-index: 1;
}

.banner-container p{
    color: var(--text-white);
    font-size: 24px;
    width:70%;
    text-align: center;
    z-index: 1;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 360px;
    background-color: black;
    opacity: 45%;
}