.find-homes-container{
    background-color: var(--bg-white);
    position: relative;
    bottom: 44px;
    max-width: 98%;
    height: 88px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 4px var(--secondary-color-text);
    padding: 16px;
}

.select-city-homes, .select-bedrooms{
    max-width: 250px;
    min-width:170px;
    padding: 8px 40px 8px 8px;
    border-radius: 8px;
    margin-right: 16px;
    font-size: 16px;
    border-color: var(--secondary-color-text);
}

.submit{
    font-size: 16px;
    max-width:160px;
    min-width: 130px;
    height: 32px;
    background: var(--dark-blue);
    border: none;
    color: var(--text-white);
    border-radius: 8px;
}