.footer-container{
    display: grid;
    grid-template: auto auto / 50% 50%;
    grid-template-areas:
    'kit ls'
    'copy copy';
    background-color: var(--light-blue);
    justify-items: center;
}

.keep-in-touch{
    grid-area: kit;
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    width: 50%;
    color: var(--text-white);
}

.keep-in-touch h2,.keep-in-touch p,.keep-in-touch input{
    margin-bottom: 16px;
}

.keep-in-touch h2{
    font-weight: 400;
}

.keep-in-touch input{
    border: none;
    height: 32px;
    border-radius: 8px;
}

.keep-in-touch input::placeholder{
    font-size: 16px;
    padding-left: 16px;
    color: var(--secondary-color-text)
}

.keep-in-touch button{
    border: none;
    background: var(--bg-white);
    height: 32px;
    width: 40%;
    border-radius: 8px;
    color: var(--light-blue);
    font-size: 16px;
}

.socialize{
    grid-area: ls;
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    width: 65%;
    color: var(--text-white);
}

.socialize h2{
    color: var(--text-white);
    font-weight: 400;
    margin-bottom: 16px;
}

.socialize a{
    color: var(--text-white);
    margin-bottom: 16px;
}

.fb, .tweet, .insta{
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.copyright-container{
    grid-area: copy;
    display: flex;
    background-color: var(--bg-black);
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    width: 100%;
}

.copyright-container-left a{
    color: var(--secondary-color-text);
    font-size: 12px;
    margin-right: 24px;
}

.copyright-container-right{
    display: flex;
    align-items: center;
}

.copyright-container-right p{
    color: var(--secondary-color-text);
    font-size: 12px;
    margin-left: 24px;
}

.copyright-icon{
    position: relative;
    top: 2px;
}