.header-container{
    top:0;
    width:100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00A2E1;
    
}

#logo {
    margin-left: 64px;
}

.logo-img {
    margin-right: 16px;
}

.link-container{
    display: flex;
}

#favorites, #contact-us{
    margin-right: 36px;
    display: flex;
    align-items: center;
    color: white;
}

.icon {
    font-size: 1.5rem;
}