.top-cities-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.top-card{
    margin: 40px;
}

.inclusive-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: #F6FAFD;
    height: 488px;
}

.search-compare-bills-container{
    display: flex;
}

.inclusive-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 200px;
    text-align: center;
}
